// 📦 Миксин: flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin f13w400 {
  font-size: 13px;
  font-weight: 400;
}

@mixin f14w400 {
  font-size: 14px;
  font-weight: 400;
}

@mixin f16w600 {
  font-size: 16px;
  font-weight: 600;
}

// 📱 Миксин: медиазапрос
@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: 1024px) {
      @content;
    }
  }
}
