// 🎨 Переменные цветов
$text-color: #222;
$text-seashell: #f1f1f1;
$color-white: #fff;
$shark-color: #262a30;
$shark-second: #1d2026;
$raven-color: #787d86;
$ribbon-color: #0d5dff;
$tuna-color: #34383f;
$lunar-color: #374138;
$green-color: #00cd18;
$lisbon-color: #4b3f28;
$orange-color: #ffa600;
$ebony-color: #262f3f;

// 🔢 Размеры
$container-width: 1200px;
$gutter: 20px;

// 📱 Брейкпоинты
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
