@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.card {
  background-color: $shark-color;
  border-radius: 16px;
  padding: 1.5rem;
  max-width: 392px;
  &__header {
    @include flex-center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 12px;
  }
  &__logo {
    border-radius: 72px;
    max-width: 50px;
    height: auto;
  }
  &__title {
    color: $text-seashell;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0;
  }
  &__rating {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    &-icon {
      color: $tuna-color;
      font-size: 1.5rem;
    }
    &-value {
      font-size: 0.875rem;
      color: $text-color;
    }
  }
  &__description {
    p {
      font-size: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      color: $color-white;
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
    .card__tag--vpn-no {
      background-color: $lisbon-color;
      color: $orange-color;
    }
    .card__tag--free {
      background-color: $lunar-color;
      color: $green-color;
    }
    .card__tag--text-work {
      background-color: $ebony-color;
      color: $ribbon-color;
    }
  }
  &__tag {
    @include f13w400;
    display: inline-block;
    padding: 2.25px 8px;
    background: #333;
    color: #fff;
    border-radius: 4px;
  }
}
